<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <h2 class="border-bottom py-2" th:text="${question.subject}"></h2>
    <div class="card my-3">
        <div class="card-body">
            <div class="card-text" style="white-space: pre-line;" th:text="${question.content}"></div>
            <div class="d-flex justify-content-end">
                <div class="badge bg-light text-dark p-2 text-start">
                    <div class="mb-2">
                        <span th:text="${question.author?.username}"></span>
                    </div>
                    <div th:text="|날짜 : ${#temporals.format(question.createDate, 'yyyy년 MM월 dd일 a h시 mm분')}|"></div>
                </div>
            </div>
            <div class="d-flex">
                <div class="my-3 me-2">
                    <a th:href="@{|/question/modify/${question.id}|}" class="btn btn-lg btn-outline-secondary"
                       sec:authorize="isAuthenticated()"
                       th:if="${question.author != null && #authentication.principal.username == question.author.username}"
                       th:text="수정"></a>
                </div>
                <div class="my-3">
                    <a onclick="if ( !confirm('정말로 삭제하시겠습니까?') ) return false;" th:href="@{|/question/delete/${question.id}|}"
                       class="btn btn-lg btn-outline-secondary" sec:authorize="isAuthenticated()"
                       th:if="${question.author != null and #authentication.principal.username == question.author.username}"
                       th:text="삭제"></a>
                </div>
            </div>
        </div>
    </div>

    <!-- 답변 개수 표시    -->
    <h5 class="border-bottom my-3 py-2" th:text="|${#lists.size(question.answerList)}개의 답변이 있습니다.|"></h5>
    <div class="card my-3" th:each="answer : ${question.answerList}">
        <div class="card-body">
            <div class="card-text" style="white-space: pre-line;" th:text="${answer.content}"></div>
            <div class="d-flex justify-content-end">
                <div class="badge bg-light text-dark p-2 text-start">
                    <div class="mb-2">
                        <span th:text="${answer.author?.username}"></span>
                    </div>
                    <div th:text="|날짜 : ${#temporals.format(question.createDate, 'yyyy년 MM월 dd일 a h시 mm분')}|"></div>
                </div>
            </div>
            <div class="d-flex">
                <div class="my-3 me-2">
                    <a th:href="@{|/answer/modify/${answer.id}|}" class="btn btn-sm btn-outline-secondary"
                       sec:authorize="isAuthenticated()"
                       th:if="${answer.author != null && #authentication.principal.username == answer.author.username}"
                       th:text="수정"></a>
                </div>

                <div class="my-3">
                    <a th:href="@{|/answer/delete/${answer.id}|}" class="btn btn-sm btn-outline-secondary"
                       sec:authorize="isAuthenticated()"
                       th:if="${answer.author != null && #authentication.principal.username == answer.author.username}"
                       th:text="삭제"></a>
                </div>
            </div>
        </div>
    </div>

    <form th:action="@{|/answer/create/${question.id}|}" th:object="${answerForm}" method="post" class="my-3">
        <div th:replace="~{form_errors :: formErrorsFragment}"></div>
        <h3>:) 댓글 쓰기</h3>
        <textarea sec:authorize="isAnonymous()" th:field="*{content}" rows="5" disabled class="form-control"></textarea>
        <textarea sec:authorize="isAuthenticated()" th:field="*{content}" rows="5" class="form-control"></textarea>

        <button type="submit" sec:authorize="isAuthenticated()" class="btn btn-primary my-2">답변 등록</button>
        <button type="submit" sec:authorize="isAnonymous()" disabled class="btn btn-primary my-2">답변 등록</button>
    </form>
</div>
</html>