<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>title</title>
</head>
<body>
<!-- Emmet -> table>h1+thead>tr>th*2^^tbody>tr>td*2 -->
<table>
    <h1>질문 목록!</h1>
    <thead>
        <tr>
            <th>#</th>
            <th>제목</th>
            <th>작성일시</th>
        </tr>
    </thead>
    <tbody>
    <tr th:each="question : ${questionList}">
        <td th:text="|${question.id}번|"></td>
        <td>
            <a th:href="@{|/question/detail/${question.id}|}" th:text="${question.subject}"></a>
        </td>
        <td th:text="${#strings.replace(#strings.substring(question.createDate, 2, 16), 'T', ' ')}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>